In [1]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(20)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kununurra,AU,2022-02-20 11:04:07,-15.7667,128.7333,87.78,70,40,5.75
1,1,Airai,TL,2022-02-20 11:04:08,-8.9266,125.4092,62.13,94,87,1.50
2,2,Kalmunai,LK,2022-02-20 11:04:08,7.4167,81.8167,81.70,77,68,12.95
3,3,Umm Lajj,SA,2022-02-20 11:04:09,25.0213,37.2685,66.43,50,25,13.27
4,4,Coquimbo,CL,2022-02-20 11:04:09,-29.9533,-71.3436,58.73,82,20,0.00
5,5,Qaanaaq,GL,2022-02-20 11:04:09,77.4840,-69.3632,-2.45,47,88,9.10
6,6,San Patricio,US,2022-02-20 11:04:10,28.0170,-97.5169,57.06,79,78,4.76
7,7,Yellowknife,CA,2022-02-20 11:01:10,62.4560,-114.3525,-40.45,100,37,4.34
8,8,Busselton,AU,2022-02-20 11:04:10,-33.6500,115.3333,80.10,51,100,13.29
9,9,Fortuna,US,2022-02-20 11:04:11,40.5982,-124.1573,46.33,94,100,4.61
10,10,Mataura,NZ,2022-02-20 11:04:11,-46.1927,168.8643,52.48,88,70,1.66
11,11,Puerto Ayora,EC,2022-02-20 11:04:11,-0.7393,-90.3518,74.89,87,31,7.25
12,12,Avarua,CK,2022-02-20 11:04:12,-21.2078,-159.7750,77.05,88,40,5.75
13,13,Bredasdorp,ZA,2022-02-20 11:04:12,-34.5322,20.0403,73.27,39,38,16.08
14,14,Bluff,NZ,2022-02-20 11:04:12,-46.6000,168.3333,52.81,79,61,2.33
15,15,Aklavik,CA,2022-02-20 11:04:13,68.2191,-135.0107,-38.07,99,33,4.23
16,16,Kapaa,US,2022-02-20 11:04:13,22.0752,-159.3190,71.58,76,0,10.36
17,17,Hilo,US,2022-02-20 11:00:30,19.7297,-155.0900,71.26,85,40,6.91
18,18,Hermanus,ZA,2022-02-20 11:04:14,-34.4187,19.2345,78.91,62,31,11.39
19,19,Souillac,MU,2022-02-20 11:04:14,-20.5167,57.5167,84.58,79,75,32.21

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer) 
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))